* {
  border-radius: 0 !important;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  display: none !important;
}

.btn-success a {
  color: #fff !important;
}

.J-margin{
  margin-top: 80px;
}
.ml-notAuto{
  margin-left: 40px;
}
.noPadding{
  padding:0px;
}
.cardMargin{
  margin-bottom: 20px;
}
.primaryColor{
  background-color: #393E46;
}
.PCO{
  background-color: rgba(57,62,70, 0.5);
}
.secondaryColor{
  background-color: #2b2e35;
}
.SCO{
  background-color: rgba(0,0,0, 0.7);
}
.tertiaryColor{
  background-color: #00ADB5;
  border-color: #00ADB5 !important;
}
a:not(.nav-link, .navbar-brand, .dropdown-item, .btn-success), .text-tertiary {
  color: #00ADB5 !important;
}
a:hover:not(.nav-link, .navbar-brand, .dropdown-item, .btn-success) {
  color: rgb(1, 144, 151) !important;
}

a:hover.text-white {
  color: #fff !important;
}
.TCO{
  background-color: rgba(0,173,181, 0.5);

}
h1{
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  margin-bottom: 40px;
}

.borderLeft{
  border-left: 2px solid #636b6f;
}
.bg-image{
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("/storage/images/bg-images/bg.jpg");
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 150%;
  width: 100%;
  background-attachment: fixed;
}
.SOColour{
  color: #00ADB5;
}
.DSN{
  font-size: 2rem;
  color: rgb(204, 204, 204);
  display: inline-block;
}
.StopoverHeading{
    font-size: 3rem;
    color: white;
    margin-bottom: 40px !important;
    margin-left: 10px;
    display: inline-block;
}
.hpMargin{
    margin-top: 7rem;
}
.inner-form{
  background: rgba(0,0,0,.5);
  padding: 50px 47px;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
}
.homeLabels{
  font-size: 1.1rem;
  line-height: 1;
  margin-right: 15px;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
.dropdown-item:hover{
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
}
.dropdown-item{
  color: white;
}
