.J-margin{
  margin-top: 80px;
}
.ml-notAuto{
  margin-left: 40px;
}
.noPadding{
  padding:0px;
}
.cardMargin{
  margin-bottom: 20px;
}
.primaryColor{
  background-color: #393E46;
}
.PCO{
  background-color: rgba(57,62,70, 0.5);
}
.secondaryColor{
  background-color: #232831;
}
.SCO{
  background-color: rgba(0,0,0, 0.7);
}
.tertiaryColor{
  background-color: #00ADB5;
}
.TCO{
  background-color: rgba(0,173,181, 0.5);

}
h1{
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  margin-bottom: 40px;
}
.cPost{
  color: white;
}
.heroImage{
    background-image: url("/Images/heroImage.jpg");

    /* Set a specific height */
    height: 200px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.paris{
    background-image: url("/Images/paris.jpg");

    /* Set a specific height */
    width: 340px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.paris::after{
  display: block;
position: relative;
margin-top: -63px;
height: 332px;
width: 100%;
content: '';
}
.madrid{
    background-image: url("/Images/madrid.jpg");

    /* Set a specific height */
    height: 340px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.zagreb{
    background-image: url("/Images/zagreb.jpg");

    /* Set a specific height */
    height: 340px;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.white{
  color: white;
}
.borderLeft{
  border-left: 2px solid #636b6f;
}
.bg-image{
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("/storage/images/bg-images/bg.jpg");
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 150%;
  width: 100%;
  background-attachment: fixed;
}
